

body{
background:url(images/bg.jpg) repeat-x #e4e9ec top;
padding:0;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
margin:0px auto auto auto;
color:#000;
}
p{
padding:2px;
margin:0px;
}
input[type=text], select, textarea {
  width: 88%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

input[type=text]:focus {
  background-color: lightblue;
}

input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}
#main_container{
width:1000px;
height:auto;
margin:auto;
padding:0px;
background-color:#FFFFFF;
}
#logo{
float:left;
padding:45px 0 0 15px;
}
#main_content{
clear:both;
}
.top_right{
width:728px;
float:right;
}
.big_banner{
float:right;
padding:10px 10px 0 0;
}
/*---------------- menu tab----------------------*/
#menu_tab{
width:100%;
height:36px;
background:url(images/menu_bg.gif) repeat-x;
}
ul.menu {
list-style-type:none; float:left; display:block; width:982px; 
margin:0px; padding:0px;background:url(images/menu_bg.gif) repeat-x;}

ul.menu li {
display:inline;
font-size:11px;
font-weight:bold;
line-height:36px;
}
ul.menu li.divider {
display:inline;
width:4px;
height:36px;
float:left;
background:url(images/menu_divider.gif) no-repeat center;
}

a.nav:link, a.nav:visited {
display:block; float:left; padding:0px 8px 0px 8px; margin:0 14px 0 14px;height:36px;text-decoration:none;color:#fff;}

a.nav:hover{
display:block; float:left; padding:0px 8px 0px 8px; margin:0 14px 0 14px;height:36px;text-decoration:none;color:#199ECD;}

/*-------------left_content------------------*/
.left_content{
width:10%;
float:left;
padding:0 0 0 5px;
}
/*center content--------------------------*/
.center_content{
width:92%;
float:left;
padding:5px 10px 5px 15px;
}
.center_title_bar{
width:100%;
height:31px;
float:left;
padding:0 0 0 10px;
margin:0 0 0 5px;
line-height:31px;
font-size:12px;
color:#159DCC;
font-weight:bold;
}

/*----------------------right content--------------*/
.right_content{
width:10%;
float:left;
padding:0px;
}
/*---------prod_box----------*/
.prod_box{
width:173px;
height:auto;
float:left;
padding:10px 10px 10px 11px;
}
.center_prod_box{
width:173px;height: auto;float:left; text-align:center;padding:0px; margin:0px; border:1px #F0F4F5 solid;
}
.prod_details_tab{
width:173px;
height:31px;
float:left;
margin:3px 0 0 0;
}
img.left_bt{
float:left;
padding:6px 0 0 6px;
}
a.prod_details{
width:75px;
height:24px;
display:block;
float:right;
background:url(images/link_bg.gif) no-repeat center;
margin:2px 5px 0 0;
text-align:center;
line-height:24px;
text-decoration:none;
color:#159dcc;
}
/*---------prod_box_big----------*/
.prod_box_big{
width:100%;
height:auto;
float:left;
padding:10px 10px 15px 15px;
}
.center_prod_box_big{
width:100%;
height: auto;
text-align:left;
padding:10px 10px 10px 10px; 
margin:0px;border:1px #F0F4F5 solid;
}
.center_prod_box_big p{
    padding-left: 20px;
}
.product_img_big{
width:100%;
padding:10px 0 0 10px;
float:left;
}
.details_big_box{
width:100%;
float:left;
padding:0 0 0 15px;
text-align:left;
}
.product_title_big{
color:#ff8a00;
padding:5px 0 5px 0;
font-weight:bold;
font-size:14px;
}
span.blue{
color:#159DCC;
}
/*--------------footer----------------*/
.footer{
width:1000px;
clear:both;
height:65px;
background:url(images/footer_bg.gif) repeat-x top;
}
.right_footer{
float:right;
padding:15px 30px 0 0;
}
.right_footer a{
padding:0 0 0 7px;
text-decoration:none;
color: #666666;
}
.right_footer a:hover{
text-decoration:underline;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #DEF7A7;}

#customers tr:hover {background-color: #7C7777;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}	
.w3-button {
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.align-middle{
	vertical-align: middle !important;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.center {
    text-align: center;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}
.ada{
    text-align: center;
}
